html {
  font-size: 0.8rem;
}

#welcome {
  font-size: 3rem;
}

#about-message p {
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
}

#contact-container {
  margin: auto;
  width: 85%;

}

#contact-form {
  /* margin: 0;
  float: left;
  width: 100%; */
}

@media only screen and (min-width:576px) {
  html {
    font-size: 1rem;
  }

  body {
    background: url('imgs/bg8-min.jpg') top;
    height: auto;
    max-width: 100%;
    -webkit-filter: opacity(0.95);
    filter: opacity(0.95);
    background-size: cover;
    color: white; 
  }

  #about-message p {
    margin-bottom: 0.8rem;
  }

  #welcome {
    font-size: 3rem;
  }

  #contact-container {
    margin: auto;
    width: 65%;
  }
}

@media only screen and(min-width:768px) {
  html {
    font-size: 1.2rem;
  }

  body {
    background: url('imgs/bg8-min.jpg') top;
    height: auto;
    max-width: 100%;
    -webkit-filter: opacity(0.95);
    filter: opacity(0.95);
    background-size: cover;
    color: white;   
  }

  #contact-container {
    margin: auto;
    width: 5rem;
  }
}

@media only screen and (min-width:992px) {
  #welcome {
    font-size: 4rem;
  }

  body {
    background: url('imgs/bg8-min.jpg') top;
    height: auto;
    max-width: 100%;
    -webkit-filter: opacity(0.95);
    filter: opacity(0.95);
    background-size: cover;
    color: white;
  }

  #contact-container {
    margin: auto;
    width: 30rem;
  }
}

@media only screen and (min-width:1200px) {} 