:root {
    --main-links-color: rgba(255, 255, 255, 0.63);
    --link-bottom-border-color-onhover: rgba(248, 110, 68, 0.459);
    --link-bg-light: rgba(247, 135, 101, 0.11);
}

html,
body {
    height: 100vh;
    width: 100%;
}

body {
    background: url('imgs/bg8-min-resized.jpg')no-repeat center center fixed;

    height: 100%;
    max-width: 100%;
    -webkit-filter: opacity(0.95);
    filter: opacity(0.95);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

/* navigation */
.nab-back {
    background-color: transparent;
}

#fa-hamburger {
    padding: 4px;
    color: var(--main-links-color);
    border: 1px solid var(--main-links-color);
    border-radius: 2px;
    -webkit-transition: color 0.2s, border-color 0.2s;
    transition: color 0.2s, border-color 0.2s;
    -moz-transition: color 0.2s, border-color 0.2s;
    -ms-transition: color 0.2s, border-color 0.2s;
    -o-transition: color 0.2s, border-color 0.2s;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

#fa-hamburger:hover {
    color: white;
    border-collapse: white;
}

#logo {
    color: var(--main-links-color);
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
    padding: 1rem;
    -moz-transition: border-bottom 0.2s, color 0.2s;
    -ms-transition: border-bottom 0.2s, color 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s;
}

#logo:hover {
    color: #fff;
    border-bottom: 2px solid var(--link-bottom-border-color-onhover);
    background-color: var(--link-bg-light);
}

.navbar .collapse .navbar-nav .nav-item,
#dropdownMenuButton {
    color: var(--main-links-color);
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
    padding: 1rem;
    -moz-transition: border-bottom 0.2s, color 0.2s;
    -ms-transition: border-bottom 0.2s, color 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s;
}

.navbar .collapse .navbar-nav .nav-item:hover,
#dropdownMenuButton:hover {
    color: #fff;
    border-bottom: 2px solid var(--link-bottom-border-color-onhover);
    background-color: var(--link-bg-light);
}

/* https://mdbootstrap.com/components/bootstrap-hamburger-menu/ */
.navbar-toggler.toggler-example {
    cursor: pointer;
}

.dark-blue-text {
    color: var(--main-links-color);
}

.navbar-toggler.toggler-example.dark-blue-text.fa:hover {
    cursor: pointer;
    background-color: var(--link-bg-light)
}

#dropdownMenuButton {
    color: var(--main-links-color);
    background-color: transparent;
    border: none;
    font-size: 1.02rem;
}

.dropdown-menu{
    background-color: transparent;    
}

.dropdown-menu a{
    color: var(--main-links-color);
    text-transform: uppercase;
}

.dropdown-menu a:hover{
    background-color: var(--link-bg-light);
    color:white;
}