@media only screen and (max-width: 1370px) {
    .row {
        width: 80%;
        padding: 0 2%;
    }
}

/* Big Tablets to 1200px: from 1023 to 1200*/

@media only screen and (max-width: 1200px) {
    .row {
        /* width: 85%;
        padding: 0 2%; */
    }
}

@media only screen and (max-width: 1050px) {
    body {
        font-size: 14px;
    }
}



@media only screen and (max-width: 650px) {
    /* body {
        font-size: 12px;
        background: #DCD9D6;
        height: 100vh;
        
    } */

    body {
        background: url('backgrounds/bg8.jpg') top;
        height: auto;
        max-width: 100%;
        -webkit-filter: opacity(0.95);
                filter: opacity(0.95);
        background-size: cover;
        color: white;
    
        /* display: block; */
    }

    .row {
        width: 90%;
    }
    /* .index-header {
        z-index: 2;
        background-image: url(backgrounds/bg8.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: bottom right; */
        overflow-y: none;
        background-position: top;
        background-attachment: local;
        height: 50vh;
    } */
}

/* Phones the smalles I assume*/

@media only screen and (max-width: 360px) {
    body {
        font-size: 9px;
    }
    .row {
        width: 90%;
    }


    .index-header {
        z-index: 2;
        background-image: url(backgrounds/background_1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        /* background-position: bottom right; */
        overflow-y: none;
        background-position: top;
        background-attachment: local;
        height: 100vh;
    }
nav::after{
    background: #E6E6E6;
}
    .header-slogan {
        height: 70px;;
        width: auto;
        color: #E6E6E6;
        position: fixed;
        left: 100px;
        /* background:red; */
        float: left;
        z-index: 100;
        
    }

    #slogan-id{
        display: inline;
        height: 50%;
        width: 100%;
        background: #E6E6E6;
        z-index: -10;
    }
    
}