/* color: rgb(134, 206, 206) */

/* -------------------------------------------------------- */

/* BASIC SETUP */

/* -------------------------------------------------------- */

:root {
    /* --main-color: rgb(134, 206, 206); */
    --main-color-standard: #555;
    --main-color: #FF9800;
    --main-color-darker: rgb(172, 108, 13);
    --main-backgroundcolor: rgb(238, 238, 238);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* background-color: #ffffff; */
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

/* body{
    height: 100%;
    margin: 0;
} */



html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    background: url('backgrounds/bg8.jpg') top;
    height: auto;
    max-width: 100%;
    -webkit-filter: opacity(0.95);
            filter: opacity(0.95);
    background-size: cover;
    color: white;

    /* display: block; */
}

.clearfix {
    zoom: 1
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------------------------------------------- */

/* SPANS*/

/* -------------------------------------------------------- */

#bracket-name {
    /* color: rgb(134, 206, 206) */
    color: var(--main-color);
}

/* -------------------------------------------------------- */

/* REUSABLE COMPONENTS */

/* -------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: aquamarine; */
}

/* -------------------------------------------------------- */

/* HEADER */

/* -------------------------------------------------------- */

header .contact-header {
    /* position: relative; */
}

.bg{
    
    background-image: url(backgrounds/background_1.jpg);
    /* height: 100vh; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* background-position: bottom right; */
    /* background-attachment: fixed; */
}

.index-header {
    
}

.mobile__nav{
    display: none;
}

.mobile__nav-icon{
    
    font-size: 35px;
    color: var(--main-color);
}

.my-name a:link,
.my-name a:visited {
    text-decoration: none;
    color: var(--main-color-standard);
    font-size: 100%;
}

/* Slogan */

.header-slogan {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 71%;
    transform: translate(-80%, -50%);
}

.header-slogan h2,
.header-slogan p {
    word-spacing: 2px;
}

.passion {
    /* color: rgb(134, 206, 206) */
    color: var(--main-color);
}

.header-slogan p {
    padding-left: 260px;
}

#big-passion {
    font-size: 200%;
    color: var(--main-color);
}

/* -------------------------------------------------------- */

/* MAIN NAV */

/* -------------------------------------------------------- */

.main-nav {
    float: right;
    list-style-type: none;
    margin-top: 50px;
}

.my-name {
    width: auto;
    float: left;
    margin-top: 50;
    margin-bottom: 0;
    padding: 6px 0;
    font-size: 200%;
}

.main-nav li {
    display: inline-block;
    margin-left: 25px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    padding: 6px 0;
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    /* color: rgb(49, 141, 141); */
    color: var(--main-color-darker);
    /* border-bottom: 2px solid rgb(49, 141, 141); */
    border-bottom: 3px solid var(--main-color-darker);
}

/* -------------------------------------------------------- */

/* ABOUT PAGE */

/* -------------------------------------------------------- */

.row-about {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--main-backgroundcolor);
    padding: 50px 0;
}

.curiculum {
    text-align: center;
    font-size: 140%;
}

.self-description p {
    display: inline-block;
    font-size: 67%;
    margin-top: 15px;

    padding-bottom: 5px;
}

.curiculum h2 {
    letter-spacing: 3px;
    font-weight: 100;
    color: rgb(141, 140, 140);
    text-transform: uppercase;
    font-size: 95%;
}

.social-links {
    margin-top: 10px;
}

.social-links ul li {
    display: inline-block;
    margin-right: 15px;
}

.social-links a i {
    color: var(--main-color);
}

.about-title ul {
    display: inline-block;
}

.ul-arrow {
    float: right;
    margin-right: 18px;
    margin-top: 12px;
}

.about-title h3 {
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
    letter-spacing: 2px;
    padding-left: 35px;
    padding-bottom: 5px;
    /* border-bottom: 1px solid #555; */
    margin-bottom: 10px;
    margin-top: 10px;
}

/* -------------------------------------------------------- */

/* JOB POSITIONS */

/* -------------------------------------------------------- */

.positions {
    height: 100%;
    margin-bottom: 40px;
}

.col-left,
.col-right {
    margin: 0;
    height: 100%;
    padding: 0;
}

.col-left {
    text-align: right;
    color: var(--main-color);
    font-size: 90%;
    padding-top: 3px;
}

.col-right {
    margin: 0;
    text-align: left;
}

.col-right h4 {
    font-size: 110%;
    margin-bottom: 7px;
}

.job-short-description {
    font-size: 89%;
    margin-top: 10px;
}

.job-address a {
    margin-bottom: 10px;
    height: 100%;
}

.col-right ul {
    font-size: 89%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
}

.col-right a:link,
.col-right a:visited {
    font-size: 75%;
    padding: 5px;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

.col-right a:hover,
.col-right a:active {
    background-color: var(--main-color);
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

/* container */

.container {
    display: none;
}

.about-title {
    background-color: var(--main-backgroundcolor);
    border: 1px solid transparent;
    border-radius: 6px;
    margin-bottom: 15px;
}

.about-title:hover {
    cursor: pointer;
}

.about-title ul {
    list-style: none;
}

.about-title ul li {
    display: inline-block;
}

i {
    color: #8a8787
}

/* -------------------------------------------------------- */

/* CONTACT FORM */

/* -------------------------------------------------------- */

.row-contact {
    /* max-width: 1140px;
    margin: 0 auto; */
    /* position: absolute;
    top: 100px;
    left: 150px; */
}

.form-right {
    margin-left: 80px;
    width: auto;
}

.form-left {
    margin-top: 6px;
    margin-right: 100px;
    width: 200px;
}

form {
    position: absolute;
    top: 200px;
    left: 285px;
    width: 700px;
}

.button-submit {
    padding: 10px 15px;
    /* height: 40px; */
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    color: var(--main-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.button-submit:hover {
    border: 1px solid #fff;
    background-color: var(--main-color-darker);
    color: #fff;
}

.icon-custom-color{
    color: var(--main-color);
}

input,
textarea{
    padding: 5px;    
}

::placeholder{
    color: #d6d6d6;
}


